<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.project.project_oda">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".src.main.HomeActivity">
        </activity>
        <activity
            android:name=".src.Splash.Splash"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.main.LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".src.main.SignUpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".src.main.SearchActivity"
            android:screenOrientation="portrait">
        </activity>
    </application>



</manifest>